* {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin-top: 20px;
}

.slidecontainer {
    width: 100%; 
}
  
.slider {
    appearance: none;
    width: 15%;
    height: 6px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

#passwordResult {
    width: 35%;
    user-select: none;
}

#passwordResult:hover {
    cursor: default;
}